.LN_list{
  .list-content{
    margin-top: 10px;
    width: 100%;
    position: fixed;
    top: 60px;
    bottom: 54px;
    padding: 0px 10px;
    overflow: hidden;
    overflow-y: scroll;
    img{
      width: 40%;
      height: 100px;
    }
    a{
      color: #000;
      display: flex;
      margin-bottom: 10px;
      .list_left{
        flex: 1;
        padding: 0 10px;
        width: 40%;
        h4{color: #3a9be8}
        .list_intro{
          text-overflow:ellipsis;
          overflow:hidden;
          white-space:nowrap;
          width:100%;
          margin: 6px 0;
          font-size: 13px;
          color: #414141;
        }
        .list_price{
          display: flex;
          font-size: 14px;
          color: #7b7b7b;
          p:nth-child(1){
            flex: 1;
          }
          p:nth-child(2){
            flex: 1;
            span{
              font-style: normal;
              color: #eec256;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
  .upload{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      background:none;
      width: 100%;
      border: none;
      color: #999;
      font-size: 15px;
      border-radius: 5px;
      padding: 10px;
    }
  }
}
