.main-content{
  position: fixed;
  width:100%;
  overflow: hidden;
  padding-top:70px;
  top:0;
  bottom:54px;
  color: #000;
  background-color: #eeeeee;
  overflow-y: scroll;
  .main-loading{
    position: absolute;
    top:50%;
    left:0;
    width:100%;
    height:56px;
    background: url(../../images/loading1.gif) center center no-repeat;
  }
}
