

.base{
  padding:56px 17px 0;
    display:flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
  .register-form{
    .phone{
      text-align: center;
      input{
        border:1px solid #999999;
            outline:none;
           height: 42px;
            width:100%;
            box-sizing: border-box;
            margin-top:20px;
            padding-left:20px;
            border-radius: 4px;
            font-size: 16px;
      }
      .checkout-phone{
        color: red;
      }
    }
    .password{
      text-align: center;
      input{
        border:1px solid #999999;
        outline:none;
        height: 42px;
        width:100%;
        box-sizing: border-box;
        margin-top:20px;
        padding-left:20px;
        border-radius: 4px;
        font-size: 16px;
      }
      .checkout-password{
        color: red;
      }
    }
    .confirm-password{
      text-align: center;
      input{
        border:1px solid #999999;
        outline:none;
        height: 42px;
        width:100%;
        box-sizing: border-box;
        margin-top:20px;
        padding-left:20px;
        border-radius: 4px;
        font-size: 16px;
      }
      .checkout-password2{
        color:red;
      }
      .btn{
        margin-top: 10px;
        width: 80%;
        height: 40px;
        background-color: #3a9be8;
        text-align: center;
        line-height: 30px;
        font-size: 20px;
      }
      .goto{
        margin-top: 10px;
      }
    }
  }
}


